.blog-header,
.blog-post,
.blog-pagination {
    margin-bottom: 2rem;
}


/* Make sure the image size is reasonable. */

.blog-post img {
    max-width: 100%;
}

.icon {
    display: inline-block;
    stroke: currentColor;
    fill: none;
    position: relative
}

.icon,img.emoji {
    height: 1em;
    width: 1em;
}

/* Consistent color */

a {
    color: #563d7c
}

.bd-navbar {
    min-height: 4rem;
    background-color: #563d7c;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
}

#navbarNav a[class=nav-link] {
    color: #cbbde2
}

#navbarNav .nav-link.active {
    color: #fff;
    font-weight: 600
}

footer .bd-navbar p {
    color: #fff;
    margin: 0
}

footer a {
    color: #cbbde2
}

.badge-primary {
    background-color: #563d7c
}

.page-item.active .page-link {
    background-color: #563d7c;
    border-color: #563d7c
}

.page-item .page-link {
    color: #563d7c
}

blockquote {
    color: #999;
    border-left: .5rem solid #d7dbe0;
    background-color: #f8f9fa;
    margin: .5rem 0;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

blockquote p {
    margin-top: 0;
    padding-left: 1rem;
    font-style: italic;
}

blockquote:before {
    color: #ccc;
    content: '\201C';
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

/* Add background color for line number */

div.highlight > div {
    background-color: #f8f9fa !important
}

div.highlight  > div > table > tbody > tr > td:nth-child(1)  > pre {
    background-color: #d7dbe0 !important
}

div.highlight > div > table > tbody > tr > td > pre {
    margin: 0px
}

/* Add bottom boarder */

.table {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dee2e6;
}

/* article table:not([style]) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dee2e6;
    display: block;
    overflow-x: auto;
}

article table:not([style]) td,
article table:not([style]) th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

article table:not([style]) thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6
}

article table:not([style]) tbody+tbody {
    border-top: 2px solid #dee2e6
}

article table:not([style]) {
    background-color: #fff
} */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 64px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 64px;
  background-color: #f5f5f5;
}