<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{ if .Site.Params.Favicon }}
<link rel="shortcut icon" type="image/png" href="{{ .Site.Params.Favicon}}"/>
{{ end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- anchorjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.js" integrity="sha256-0X7DxIkZMaHhAon0xCc/C/YhG6y0dg8Uj8c50+gbu8c=" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
  anchors.add();
});
</script>

<!-- Theme css and js -->
{{ $style := resources.Get "scss/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel='stylesheet' href='{{ $style.Permalink }}' type='text/css' media='all' />
{{ $themeJS := resources.Get  "js/main.js"  | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $themeJS.Permalink  }}" integrity="{{ $themeJS.Data.Integrity }}"></script>

<!-- Katex-->
{{ if $.Param "katex" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css"
    integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js"
    integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ"
    crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js"
    integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI"
    crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body,
            {
                delimiters: [
                    { left: "$$", right: "$$", display: true },
                    { left: "$", right: "$", display: false },
                ]
            }
        );
        var inlineMathArray = document.querySelectorAll("script[type='math/tex']");
        for (var i = 0; i < inlineMathArray.length; i++) {
            var inlineMath = inlineMathArray[ i ];
            var tex = inlineMath.innerText || inlineMath.textContent;
            var replaced = document.createElement("span");
            replaced.innerHTML = katex.renderToString(tex, { displayMode: false });
            inlineMath.parentNode.replaceChild(replaced, inlineMath);
        }
        var displayMathArray = document.querySelectorAll("script[type='math/tex; mode=display']");
        for (var i = 0; i < displayMathArray.length; i++) {
            var displayMath = displayMathArray[ i ];
            var tex = displayMath.innerHTML;
            var replaced = document.createElement("span");
            replaced.innerHTML = katex.renderToString(tex.replace(/%.*/g, ''), { displayMode: true });
            displayMath.parentNode.replaceChild(replaced, displayMath);
        }
    });
</script>
{{ end }}

<!-- Inject js -->
<!-- https://gitlab.com/BluestNight/Midnight/blob/master/layouts/partials/script -->
{{ if .Page.Params.js }}
{{ $secureJS := resources.Get  .Page.Params.js  | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.Permalink  }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
{{ end }}

<!-- Inject CSS-->
{{ if .Page.Params.css}}
{{ $css := resources.Get .Page.Params.css | resources.Minify }}
<link rel="stylesheet" href="{{  $css.Permalink  }}">
{{ end }}
